
@{
    ViewBag.Title = "Gestión Creditos Clientes";
    string CFecha = string.Format("{0:dd/MM/yyyy}", DateTime.Today);
}


<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Gestión de Creditos</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>


    <div class="card-body">
        <form id="frmGuardar" class="form-horizontal" role="form" method="post" action="">

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>DATOS GENERALES </h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="inputNombreRazon" class="col-sm-3 col-form-label">*Nombre o Razón Social</label>
                        <div class="col-sm-9">
                            <input id="txtNombreRazonDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="inputDireccion" class="col-sm-3 col-form-label">*Dirección</label>
                        <div class="col-sm-9">
                            <input id="txtDireccionDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="inputPais" class="col-sm-3 col-form-label">*País</label>
                        <div class="col-sm-8">
                            <select id="cboPais" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="inputCiudadPrincipal" class="col-sm-3 col-form-label">*Ciudad de la sede principal</label>
                        <div class="col-sm-9">
                            <input id="txtCiudadPrincipalDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="inputTelefonoFijo" class="col-sm-3 col-form-label">*Teléfono Fijo</label>
                        <div class="col-sm-8">
                            <input id="txtTelefonoFijoDG" type="number" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="inputCelular" class="col-sm-3 col-form-label">*Celular</label>
                        <div class="col-sm-9">
                            <input id="txtCelularDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="inputCorreoEnvioFacturaElectronica" class="col-sm-3 col-form-label">*Correo para envío de factura electrónica</label>
                        <div class="col-sm-9">
                            <input id="txtCorreoEnvioFacturaElectronicaDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group row">
                        <label for="inputDireccionEntregaFactura" class="col-sm-3 col-form-label">*Dirección para entrega de factura</label>
                        <div class="col-sm-9">
                            <input id="txtDireccionEntregaFacturaDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group row">
                        <label for="inputCiudadFactura" class="col-sm-3 col-form-label">*Ciudad</label>
                        <div class="col-sm-9">
                            <input id="txtCiudadFacturaDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group row">
                        <label for="inputDireccionEntregaPedido" class="col-sm-3 col-form-label">*Dirección para entrega de pedido</label>
                        <div class="col-sm-9">
                            <input id="txtDireccionEntregaPedidoDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group row">
                        <label for="inputCiudadPedido" class="col-sm-3 col-form-label">*Ciudad</label>
                        <div class="col-sm-9">
                            <input id="txtCiudadPedidoDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group row">
                        <label for="inputDireccionEntregaSecundariaPedido" class="col-sm-3 col-form-label">Dirección Secundaria para entrega de pedido</label>
                        <div class="col-sm-9">
                            <input id="txtDireccionEntregaSecundarioPedidoDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group row">
                        <label for="inputCiudadPedido" class="col-sm-3 col-form-label">Ciudad</label>
                        <div class="col-sm-9">
                            <input id="txtCiudadSecundarioPedidoDG" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>INFORMACIÓN DE CONTACTOS</h6>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">* Nombre de contacto para área de cobranza</label>
                    <input id="txtNombreContactoAreaCobranzaIDC1" type="text" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="col-form-label">* Teléfono</label>
                    <input id="txtTelefonoContactoAreaCobranzaIDC1" type="number" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="col-form-label">* Correo electrónico</label>
                    <input id="txtCorreoContactoAreaCobranzaIDC1" type="text" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">* Nombre de contacto para área de financiera </label>
                    <input id="txtNombreContactoAreaFinancieraIDC2" type="text" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="col-form-label">* Teléfono</label>
                    <input id="txtTelefonoContactoAreaFinancieraIDC2" type="number" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="col-form-label">* Correo electrónico</label>
                    <input id="txtCorreoContactoAreaFinancieraIDC2" type="text" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">* Nombre de contacto para área comercial</label>
                    <input id="txtNombreContactoAreaComercialIDC3" type="text" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="col-form-label">* Teléfono</label>
                    <input id="txtTelefonoContactoAreaComercialIDC3" type="number" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label class="col-form-label">* Correo electrónico</label>
                    <input id="txtCorreoContactoAreaComercialIDC3" type="text" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>INFORMACIÓN TRIBUTARIA</h6>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <label class="col-form-label">* Tipo de Identificación</label>
                </div>
                <div class="col-sm-2">
                    <select id="cboTipoIdentificacionTributaria" class="form-control"></select>
                </div>
                <div class="col-sm-2">
                    <label class="col-form-label">Cúal?</label>
                </div>
                <div class="col-sm-2">
                    <input id="txtCualIdentificacionIT" type="text" class="form-control" disabled />
                </div>
                <div class="col-sm-1">
                    <label class="col-form-label">* N° de Identificación</label>
                </div>
                <div class="col-sm-3">
                    <input id="txtNumIdentificacionIT" type="text" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <label class="col-form-label">* Tipo de contribuyente</label>
                </div>
                <div class="col-sm-2">
                    <select id="cboTipoContribuyente" class="form-control"></select>
                </div>
                <div class="col-sm-2">
                    <label class="col-form-label">* Tipo de Sociedad</label>
                </div>
                <div class="col-sm-2">
                    <select id="cboTipoSociedad" class="form-control"></select>
                </div>
                <div class="col-sm-1">
                    <label class="col-form-label">Cúal?</label>
                </div>
                <div class="col-sm-3">
                    <input id="txtCualSociedadIT" type="text" class="form-control" disabled />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <label class="col-form-label">* Origen de Capital</label>
                </div>
                <div class="col-sm-2">
                    <select id="cboOrigenCapital" class="form-control"></select>
                </div>
                <div class="col-sm-2">
                    <label class="col-form-label">* Actividad Economica</label>
                </div>
                <div class="col-sm-2">
                    <select id="cboActividadEconomica" class="form-control"></select>
                </div>
                <div class="col-sm-1">
                    <label class="col-form-label">Cúal?</label>
                </div>
                <div class="col-sm-3">
                    <input id="txtCualEconomicaIT" type="text" class="form-control" disabled />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-5">
                    <label>¿El titular esta vigilado por alguna SuperIntendencia ? ¿cual?</label>
                    <input id="txtSuperIntendenciaIT" type="text" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label>* Fecha de Constitución</label>
                    <div class="input-group date">
                        <input id="txtFechaConstitucionIT" type="text" class="form-control pull-right DateFechaOnly" value="">
                        <div class="input-group-append" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>* Regimen</label>
                    <select id="cboRegimen" class="form-control"></select>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>INFORMACIÓN ACTIVIDAD ECONÓMICA</h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">* Actividad principal</label>
                        <div class="col-sm-8">
                            <input id="txtActividadPrincipalIAE" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Actividad Secundaria</label>
                        <div class="col-sm-9">
                            <input id="txtActividadSecundariaIAE" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>INFORMACION DE REPRESENTACION LEGAL (UNICAMENTE APLICA PARA PERSONAS JURIDICAS)</h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">* Nombre del Representante Legal</label>
                        <div class="col-sm-8">
                            <input id="txtNombreRepresentanteLegalIRL" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Tipo de Identificación</label>
                        <div class="col-sm-8">
                            <select id="cboTipoIdenticacionLegal" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">* Número de Identificación</label>
                        <div class="col-sm-8">
                            <input id="txtNumeroIdentificacionIRL" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Nacionalidad</label>
                        <div class="col-sm-8">
                            <select id="cboNacionalidad" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Cual?</label>
                        <div class="col-sm-8">
                            <input id="txtCualIRL" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Fecha Expedición del documento</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <input id="txtFechaExpedicionDocumentoIRL" type="text" class="form-control DateFechaOnly" />
                                <div class="input-group-append" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Dirección de Residencia</label>
                        <div class="col-sm-8">
                            <input id="txtDireccionResidenciaIRL" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ciudad</label>
                        <div class="col-sm-8">
                            <input id="txtCiudadIRL" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>PREGUNTAS PEP (PERSONA PUBLICAMENTE EXPUESTA)</h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Goza de reconocimiento público</label>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-form-label">Si</label>
                        <div class="col-sm-1">
                            <input id="checkSiGozaPEP" type="checkbox" class="form-control" />
                        </div>
                        <label class="col-form-label">No</label>
                        <div class="col-sm-1">
                            <input id="checkNoGozaPEP" type="checkbox" class="form-control" />
                        </div>
                        <div class="col-sm-1">
                            <label class="col-form-label">Especifique</label>
                        </div>
                        <div class="col-sm-4">
                            <input id="txtEspecifiqueGozaPEP" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Maneja recursos públicos</label>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-form-label">Si</label>
                        <div class="col-sm-1">
                            <input id="checkSiManejaPEP" type="checkbox" class="form-control" />
                        </div>
                        <label class="col-form-label">No</label>
                        <div class="col-sm-1">
                            <input id="checkNoManejaPEP" type="checkbox" class="form-control" />
                        </div>
                        <div class="col-sm-1">
                            <label class="col-form-label">Especifique</label>
                        </div>
                        <div class="col-sm-4">
                            <input id="txtEspecifiqueManejaPEP" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Ocupa o ha ocupado cargos públicos</label>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-form-label">Si</label>
                        <div class="col-sm-1">
                            <input id="checkSiOcupaPEP" type="checkbox" class="form-control" />
                        </div>
                        <label class="col-form-label">No</label>
                        <div class="col-sm-1">
                            <input id="checkNoOcupaPEP" type="checkbox" class="form-control" />
                        </div>
                        <div class="col-sm-1">
                            <label class="col-form-label">Especifique</label>
                        </div>
                        <div class="col-sm-4">
                            <input id="txtEspecifiqueOcupaPEP" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="inputDireccionResidencia" class="col-sm-3 col-form-label">* Existe algún vínculo entre usted y una persona públicamente expuesta?</label>
                        <div class="col-sm-1">
                        </div>
                        <label for="inputDireccionResidencia" class="col-form-label">Si</label>
                        <div class="col-sm-1">
                            <input id="checkSiVinculo1PEP" type="checkbox" class="form-control" />
                        </div>
                        <label for="inputDireccionResidencia" class="col-form-label">No</label>
                        <div class="col-sm-1">
                            <input id="checkNoVinculo1PEP" type="checkbox" class="form-control" />
                        </div>
                        <div class="col-sm-1">
                            <label for="inputDireccionResidencia" class="col-form-label">Especifique</label>
                        </div>
                        <div class="col-sm-4">
                            <input id="txtEspecifiqueVinculo1PEP" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Existe algún vínculo diferente al comercial (familiar o personal) con empleados de SIMED</label>
                        <div class="col-sm-1">
                        </div>
                        <label class="col-form-label">Si</label>
                        <div class="col-sm-1">
                            <input id="checkSiVinculo2PEP" type="checkbox" class="form-control" />
                        </div>
                        <label class="col-form-label">No</label>
                        <div class="col-sm-1">
                            <input id="checkNoVinculo2PEP" type="checkbox" class="form-control" />
                        </div>
                        <div class="col-sm-1">
                            <label class="col-form-label">Especifique</label>
                        </div>
                        <div class="col-sm-4">
                            <input id="txtEspecifiqueVinculo2PEP" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>En caso afirmativo, especifique la persona con la cual tiene vínculos:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nombre y Apellidos</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtNombreApellidoPEP" class="form-control" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Cargo</label>
                        <div class="col-sm-8">
                            <input id="txtCargoPEP" type="text" class="form-control" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            <!---------------informacion de socios---------->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>INFORMACIÓN DE SOCIOS O ACCIONISTAS (UNICAMENTE APLICA PARA PERSONAS JURIDICAS)</h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label">* ¿Su compañía cuenta con accionistas?</label>
                        <label class="col-form-label">Si</label>
                        <div class="col-sm-1">
                            <input id="checkSiAccionistaISA" type="checkbox" class="form-control" />
                        </div>
                        <label class="col-form-label">No</label>
                        <div class="col-sm-1">
                            <input id="checkNoAccionistaISA" type="checkbox" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        * Nombres y Apellidos del accionistas
                                    </th>
                                    <th>
                                        *Tipo ID
                                    </th>
                                    <th>
                                        *No. De documento
                                    </th>
                                    <th>
                                        *Participación
                                    </th>
                                    <th>
                                        *Nacionalidad
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="txtNombreApellidoAccionista1ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtTipoIdAccionista1ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNroDocumentoAccionista1ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtParticipacionAccionista1ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNacionalidadAccionista1ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="txtNombreApellidoAccionista2ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtTipoIdAccionista2ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNroDocumentoAccionista2ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtParticipacionAccionista2ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNacionalidadAccionista2ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="txtNombreApellidoAccionista3ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtTipoIdAccionista3ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNroDocumentoAccionista3ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtParticipacionAccionista3ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNacionalidadAccionista3ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="txtNombreApellidoAccionista4ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtTipoIdAccionista4ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNroDocumentoAccionista4ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtParticipacionAccionista4ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                    <td>
                                        <input id="txtNacionalidadAccionista4ISA" class="form-control" placeholder="Info" disabled />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!---------------informaciopn financiera---------->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>INFORMACIÓN FINANCIERA</h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Fecha de corte DD/MM/AAAA</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <input id="FechaCorte" type="text" class="form-control DateFechaOnly" />
                                <div class="input-group-append" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">* La información debe estar en soles o dólares</label>
                        <label class="col-form-label">Soles</label>
                        <div class="col-sm-1">
                            <input id="checkSolesIF" type="checkbox" class="form-control" />
                        </div>
                        <label class="col-form-label">Dólares</label>
                        <div class="col-sm-1">
                            <input id="checkDolaresIF" type="checkbox" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Activos</label>
                        <div class="col-sm-4">
                            <input id="txtActivosIF" type="number" class="form-control" placeholder="S/. o $" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-sm-4 col-form-label">* Ingresos mensuales</label>
                        <div class="col-sm-4">
                            <input id="txtIngresosMensualesIF" type="number" class="form-control" placeholder="S/. o $" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Pasivos</label>
                        <div class="col-sm-4">
                            <input id="txtPasivosIF" type="number" class="form-control" placeholder="S/. o $" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-sm-4 col-form-label">* Egresos mensuales</label>
                        <div class="col-sm-4">
                            <input id="txtEgresosMensualesIF" type="number" class="form-control" placeholder="S/. o $" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">* Patrimonio</label>
                        <div class="col-sm-4">
                            <input id="txtPatrimonioIF" type="number" class="form-control" placeholder="S/. o $" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-sm-4 col-form-label">Otros ingresos</label>
                        <div class="col-sm-4">
                            <input id="txtOtrosIngresosIF" type="number" class="form-control" placeholder="S/. o $" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Concepto de otros ingresos:</label>
                        <div class="col-sm-10">
                            <input id="txtConceptoOtrosIngresosIF" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <!---------------Referencias Comerciales---------->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>REFERENCIAS COMERCIALES</h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-3">
                    <label>Empresa</label> <br />
                    <input id="txtEmpresa1RC" placeholder="Empresa" type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Ruc</label> <br />
                    <input id="txtRuc1RC" placeholder="Ruc" type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Teléfono</label> <br />
                    <input id="txtTelefono1RC" placeholder="Teléfono" type="number" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Dirección</label> <br />
                    <input id="txtDireccion1RC" placeholder="Dirección" type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Ciudad</label> <br />
                    <input id="txtCiudad1RC" placeholder="Ciudad" type="text" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label>Empresa</label> <br />
                    <input id="txtEmpresa2RC" placeholder="Empresa" type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Ruc</label> <br />
                    <input id="txtRuc2RC" placeholder="Ruc" type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Teléfono</label> <br />
                    <input id="txtTelefono2RC" placeholder="Teléfono" type="number" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Dirección</label> <br />
                    <input id="txtDireccion2RC" placeholder="Dirección" type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Ciudad</label> <br />
                    <input id="txtCiudad2RC" placeholder="Ciudad" type="text" class="form-control" />
                </div>
            </div>
            <br />

            <!---------------Referencias BANCARIAS---------->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>REFERENCIAS BANCARIAS</h6>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-3">
                    <label>Institución</label> <br />
                    <input id="txtInstitucionRB" placeholder="Institución" type="text" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label>Nro. De Cuenta</label> <br />
                    <input id="txtNroCuentaRB" placeholder="Nro. De Cuenta" type="number" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label>Tipo Cuenta</label> <br />
                    <input id="txtTipoCuentaRB" placeholder="Tipo Cuenta" type="text" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label>Beneficiario</label> <br />
                    <input id="txtBeneficiarioRB" placeholder="Beneficiario" type="text" class="form-control" />
                </div>
                <!--<div class="col-sm-2">
                    <label>Vacio</label> <br />
                    <input placeholder="Vacio" type="text" class="form-control" />
                </div>-->
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <label>Empresa</label> <br />
                    <input id="txtEmpresaRB" placeholder="Empresa" type="text" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label>Ruc</label> <br />
                    <input id="txtRucRB" placeholder="Ruc" type="number" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label>Teléfono</label> <br />
                    <input id="txtTelefonoRB" placeholder="Teléfono" type="number" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label>Dirección</label> <br />
                    <input id="txtDireccionRB" placeholder="Dirección" type="text" class="form-control" />
                </div>
                <!--<div class="col-sm-2">
                    <label>Vacio</label> <br />
                    <input placeholder="Vacio" type="text" class="form-control" />
                </div>-->
            </div>
            <br />

            <!---------------Control de Documentos---------->


            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>CONTROL DE DOCUMENTOS EXIGIDOS PARA INGRESO DE CLIENTES</h6>
                    </div>
                </div>
            </div>
            <br />

            <!--#region -->
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>

                <div class="col-sm-4">
                    <label>* Copias de las tres últimas declaraciones del PDT IGV 621</label>
                </div>

                <div class="col-sm-5">
                    @*<input id="txtFile1CDE" type="file" class="form-control-file" />*@

                    <div class="input-group input-group-sm">
                        <span id="txtFile1CDE" name="functionalDocument" class="form-control file-info1"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal1" class="btnSearchFuncional btn btn-flat btn-info browse-btn1">Seleccionar</button>
                            <input id="real-input1" type="file" name="File1CDE" class="inputFile real-input1" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                    <label>PERSONAS NATURALES</label>
                </div>
                <div class="col-sm-4">
                    <label>Copia de formulario PDT ANUAL RENTA DE TERCERA</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile2CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile2CDE" name="functionalDocument" class="form-control file-info2"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal2" class="btnSearchFuncional btn btn-flat btn-info browse-btn2">Seleccionar</button>
                            <input id="real-input2" type="file" name="File2CDE" class="inputFile real-input2" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>* Copia de Ficha RUC</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile3CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile3CDE" name="functionalDocument" class="form-control file-info3"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal3" class="btnSearchFuncional btn btn-flat btn-info browse-btn3">Seleccionar</button>
                            <input id="real-input3" type="file" name="File3CDE" class="inputFile real-input3" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>* Copia de DNI</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile4CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile4CDE" name="functionalDocument" class="form-control file-info4"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal4" class="btnSearchFuncional btn btn-flat btn-info browse-btn4">Seleccionar</button>
                            <input id="real-input4" type="file" name="File4CDE" class="inputFile real-input4" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>Certificado de referencias comerciales</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile5CDE" type="file" class="form-control-file" />*@

                    <div class="input-group input-group-sm">
                        <span id="txtFile5CDE" name="functionalDocument" class="form-control file-info5"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal5" class="btnSearchFuncional btn btn-flat btn-info browse-btn5">Seleccionar</button>
                            <input id="real-input5" type="file" name="File5CDE" class="inputFile real-input5" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>Certificado Bancario</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile6CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile6CDE" name="functionalDocument" class="form-control file-info6"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal6" class="btnSearchFuncional btn btn-flat btn-info browse-btn6">Seleccionar</button>
                            <input id="real-input6" type="file" name="File6CDE" class="inputFile real-input6" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <hr />
            <!--#endregion -->
            <!--#region -->
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>* Situación financiera ( Balance General, Perdidas y Ganancias)</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile7CDE" type="file" class="form-control-file" />*@

                    <div class="input-group input-group-sm">
                        <span id="txtFile7CDE" name="functionalDocument" class="form-control file-info7"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal7" class="btnSearchFuncional btn btn-flat btn-info browse-btn7">Seleccionar</button>
                            <input id="real-input7" type="file" name="File7CDE" class="inputFile real-input7" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                    <label>PERSONAS JURIDICAS</label>
                </div>
                <div class="col-sm-4">
                    <label>* Copia de formulario PDT ANUAL RENTA DE TERCERA</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile8CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile8CDE" name="functionalDocument" class="form-control file-info8"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal8" class="btnSearchFuncional btn btn-flat btn-info browse-btn8">Seleccionar</button>
                            <input id="real-input8" type="file" name="File8CDE" class="inputFile real-input8" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>* Copia de Ficha RUC</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile9CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile9CDE" name="functionalDocument" class="form-control file-info9"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal9" class="btnSearchFuncional btn btn-flat btn-info browse-btn9">Seleccionar</button>
                            <input id="real-input9" type="file" name="File9CDE" class="inputFile real-input9" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>* Copia de DNI  del Representante Legal</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile10CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile10CDE" name="functionalDocument" class="form-control file-info10"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal10" class="btnSearchFuncional btn btn-flat btn-info browse-btn10">Seleccionar</button>
                            <input id="real-input10" type="file" name="File10CDE" class="inputFile real-input10" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>Vigencia Poder del Representante Legal</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile11CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile11CDE" name="functionalDocument" class="form-control file-info11"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal11" class="btnSearchFuncional btn btn-flat btn-info browse-btn11">Seleccionar</button>
                            <input id="real-input11" type="file" name="File11CDE" class="inputFile real-input11" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>Certificado de referencias comerciales</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile12CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile12CDE" name="functionalDocument" class="form-control file-info12"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal12" class="btnSearchFuncional btn btn-flat btn-info browse-btn12">Seleccionar</button>
                            <input id="real-input12" type="file" name="File12CDE" class="inputFile real-input12" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:2%">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                    <label>Certificado Bancario</label>
                </div>
                <div class="col-sm-5">
                    @*<input id="txtFile13CDE" type="file" class="form-control-file" />*@
                    <div class="input-group input-group-sm">
                        <span id="txtFile13CDE" name="functionalDocument" class="form-control file-info13"></span>
                        <span id="input-group-btn">
                            <button id="btnUploadModal13" class="btnSearchFuncional btn btn-flat btn-info browse-btn13">Seleccionar</button>
                            <input id="real-input13" type="file" name="File13CDE" class="inputFile real-input13" style="display:none;" accept=".jpg, .png, .pdf" />
                        </span>
                    </div>
                </div>
            </div>



            <!--#endregion -->
            <!---------------Clasificación para uso Comercial---------->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>CLASIFICACIÓN PARA USO COMERCIAL</h6>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <label>Unidad</label> <br />
                    <select id="cboUnidad" class="form-control"></select>
                </div>
                <div class="col-sm-3">
                    <label>Sub Unidad</label> <br />
                    <select id="cboSubUnidad" class="form-control"></select>
                </div>
                <div class="col-sm-3">
                    <label>Asesor Comercial</label> <br />
                    <select id="cboAsesorComercial" class="form-control"></select>
                </div>
                <div class="col-sm-3">
                    <label>Descripción</label> <br />
                    <textarea id="txtDescripcion" class="form-control" rows="3" placeholder="Descripción"></textarea>
                </div>
            </div>
            <br />
            <!---------------Terminos de pago---------->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>TÉRMINOS DE PAGO</h6>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <label>Tipo De Pago</label>
                    <select id="cboTipoPago" class="form-control"></select>
                </div>
                <div class="col-sm-3">
                    <label>Cupo solicitado</label>
                    <input id="cuposolicitado" type="text" class="form-control" />
                </div>
            </div>
            <br />
            <!---------------Verificacion para uso interno---------->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-auto bg-dark p-1 text-center">
                        <h6>VERIFICACIÓN PARA USO INTERNO</h6>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Declaro a mi leal saber y entender, que he verificado que la información aportada en la solicitud de registro ha sido diligenciada de manera correcta y completa. Así mismo declaro que he verificado los originales de los documentos de identidad del solicitante, así como la demás documentación e información proporcionada por el solicitante, a los fines de identificar personalmente al solicitante y determinar las actividades económicas a las cuales se dedica:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <label>* Responsable de la contratación - Asesor Comercial</label>
                </div>
                <div class="col-sm-3">
                    <input id="txtAsesorComercialVUI" type="text" class="form-control" />
                </div>

            </div>
            <br />


            <div class="card-footer">
                <button id="btnGuardarFormulario" type="button" class="btn btn-success">Guardar</button>
                <button id="btnEnviar" type="button" class="btn btn-primary">Enviar</button>
            </div>


        </form>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-bs4/css/dataTables.bootstrap4.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/dateticker/datepicker3.css")">

}

@section scripts{
    <!-- DataTables -->
    <script src="@Url.Content("~/plugins/datatables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-bs4/js/dataTables.bootstrap4.js")"></script>
    <script src="@Url.Content("~/plugins/dateticker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/js/EditCustomerForm.js")"></script>
}
